<div class="confirmation-container">
    <h3 class="confirmation-header">Success <i class="fa-solid fa-truck-fast"></i></h3>

    <div class="confirmation-items">
        <span class="confirmation-item">Thank you, <b>{{ name }}</b></span>
        <span class="confirmation-item">Your <b>{{ value | currency }}</b> order is confirmed</span>
        <span class="confirmation-item">Please allow 3-5 business day(s) for shipping.</span>
        <a routerLink="/" class="back-link">Back to product list</a>
    </div>
</div>