<div class="product-container">
    <a [routerLink]="['/products', product.id]">
        <img [src]="product.url" alt="{{ product.name }}" class="product-image">
    </a>
    <div>{{ product.name }}</div>
    <div>{{ product.description }}</div>
    <div>{{ product.price | currency }}</div>
    <select class="select-input" [(ngModel)]="selectedQuantity" (ngModelChange)="onQuantityChange($event)">
        @for (quantity of quantityOptions; track quantity) {
            <option [value]="quantity">{{ quantity }}</option>
        }
    </select>

    @if (!productAddedToCart) {
        <button class="add-to-cart" (click)="addToCart()">Add to Cart</button>
    } @else {
        <button class="remove-from-cart" (click)="removeFromCart()">Remove from Cart</button>
    }
</div>